@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

body {
    text-align: center;
    background: rgb(24, 24, 24);
    margin-top: 50px;
}

canvas {
    background: rgb(0, 0, 0);
}